{{define "yield"}}
<h1>Get in touch!</h1>
<p>
    To get in touch, please send an email to 
    <a href="mailto:juanluis.rubalcava@gmail.com">support@deexper.com</a>.
</p>
<h2>This is a template</h2>
{{end}}